#nurikabe {
    --sqr_size: 31px;
    --col_count: 6;
}
.btn {
    margin: 0 0.25em;
}

details ul,
.modal ul {
    padding-left: 1em;
    li::marker {
        content: '●  ';
    }
}
.square {
    --count: '0';
    font-size: var(--sqr_size);
    border: 1px solid;
    height: 1.7em;
    width: 1.7em;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    cursor: pointer;
    position: relative;

    &.root_highlight::after {
        content: var(--count);
        position: absolute;
        /* top: -1em; */
        font-size: 0.6em;
        top: -0.6em;
        right: -0.6em;
        background-color: chartreuse;
        border-radius: 1em;
        z-index: 1;
        aspect-ratio: 1;
        height: 1.5em;
        border: 2px solid green;
        display: flex;
        justify-content: center;
        align-items: center;
        // color:black;
        @media (prefers-color-scheme: dark) {
            background-color: rgba(0, 114, 0, 0.917);
        }
    }
    &:hover {
        box-shadow: 0 0 0px 2px green;
    }
    &.wall {
        background-color: black;

        @media (prefers-color-scheme: dark) {
            background-color: white;
        }
    }
    &.wall_highlighted-left {
        border-left: 2px solid deepskyblue;
    }
    &.wall_highlighted-top {
        border-top: 2px solid deepskyblue;
    }
    &.wall_highlighted-right {
        border-right: 2px solid deepskyblue;
    }
    &.wall_highlighted-bottom {
        border-bottom: 2px solid deepskyblue;
    }
    &.wall_highlighted {
        border: 2px solid deepskyblue;
    }
    &.island_highlighted {
        background-color: rgba(108, 236, 108, 0.917);

        @media (prefers-color-scheme: dark) {
            background-color: rgba(0, 114, 0, 0.917);
        }
    }
}
table#gameboard {
    border: 5px solid gray;
    margin: 0.5em auto;
    position: relative;
    table-layout: fixed;
    width: calc(var(--sqr_size) * var(--col_count) * 1.7);
    background-color: rgb(237, 241, 251);

    @media (prefers-color-scheme: dark) {
        background-color: rgb(32, 35, 43);
    }
}
table#gameboard.zoomed {
    margin: 0.5em 50px;
}

#det_api,
#det_help {
    border: 3px solid rgb(63, 146, 242);
    border-radius: 0.5em;

    table {
        td {
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            padding: 0.25em;
        }
    }
    & > summary,
    & > div {
        padding: 0.25em;
    }

    & > summary:hover {
        background-color: rgba(0, 0, 180, 0.05);
    }
}
.modal {
    table {
        td {
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            padding: 0.25em;
        }
    }
}
#wrap_board {
    position: relative;
    overflow: auto;
    // height: calc(100vh - 170px);
    // width: calc(100% - 150px);
    min-height: calc(100vh - 210px);
    touch-action: none; /* Prevent default touch behavior */
    padding-bottom: 10em;
    // padding-left:10em;
    // padding-right:10em;
    // margin-left: -5em;

    // display: flex;
    // justify-content: center;
}
#fullboardchange {
    margin: auto;
}
#gameboard.won {
    opacity: 0.5;
    pointer-events: none;
}
@media (prefers-color-scheme: dark) {
    /* CSS rules for dark mode */
    #api_difficulty {
        color: white;
        background-color: black;
    }
}
#tbl_moves {
    border: 3px solid;
    th {
        padding: 0.25em;
    }
    td {
        border: 1px solid;
        padding: 0.25em;
        text-align: center;
    }
}
.pill-filter {
    border: 2px solid green;
    padding: 0.125em;
    display: inline-block;
    margin-left: 0.25em;
    border-radius: 0.25em;
    font-size: 0.8em;
}
#det_api #tbl_filter {
    td {
        padding: 0.5em 0;
    }
}
.wrap_option {
    --option-color: gray;
    display: inline-block;
    border: 2px solid var(--option-color);
    border-radius: 0.25em;
    overflow: hidden;

    & > label:has(input[type='radio']) {
        padding: 0.25em 0.5em;
        border-right: 2px solid var(--option-color);
        cursor: pointer;
        &:last-child {
            border-right: none;
        }
    }
    input[type='radio'] {
        display: none;
    }
    & > label:has(input[type='radio']:checked) {
        background-color: var(--option-color);
        color: white;
    }
}
#wrap_gameactions {
    position: sticky;
    top: 0;
    margin-top: -1em;
    background-color: white;
    padding-bottom: 0.5em;
    z-index: 1;
    border-bottom: 1px solid black;

    @media (prefers-color-scheme: dark) {
        border-bottom: 1px solid white;
        background-color: black;
    }
}
#flag_pb {
    font-size: 0.7em;
    border: 2px solid orange;
    border-radius: 2em;
    padding: 0.25em;
    cursor: help;
}
