@charset "UTF-8";
#nurikabe {
  --sqr_size: 31px;
  --col_count: 5;
  --row_count: 5;
}

.btn {
  margin: 0 0.25em;
}

details ul,
.modal ul {
  padding-left: 1em;
}
details ul li::marker,
.modal ul li::marker {
  content: "●  ";
}

.square {
  --count: '0';
  --hover-color: rgba(0, 114, 0, 0.917);
  --root-hightlight: chartreuse;
  font-size: var(--sqr_size);
  border: 1px solid;
  height: 1.7em;
  width: 1.7em;
  vertical-align: middle;
  text-align: center;
  position: relative;
  color: black;
}
html.dark .square {
  color: white;
  --hover-color: chartreuse;
  --root-hightlight: rgba(0, 114, 0, 0.917);
}
.square .cellInput {
  font-size: 0.8em;
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
  text-align: center;
}

table#gameboard {
  border: 1px solid black;
  margin: 0.5em auto;
  position: relative;
  table-layout: fixed;
  width: calc(var(--sqr_size) * var(--col_count) * 1.7);
  height: calc(var(--sqr_size) * var(--row_count) * 1.7);
  background-color: rgb(237, 241, 251);
  box-shadow: 0 0 0 5px gray;
}
html.dark table#gameboard {
  border: 1px solid white;
  background-color: rgb(32, 35, 43);
}
table#gameboard.zoomed {
  margin: 0.5em 50px;
}

.modal table td {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0.25em;
}

#wrap_board {
  position: relative;
  overflow: auto;
  min-height: calc(100vh - 210px);
  touch-action: none; /* Prevent default touch behavior */
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10em;
  padding-left: 10px;
}

#fullboardchange {
  margin: auto;
}

#tbl_moves {
  border: 3px solid;
}
#tbl_moves th {
  padding: 0.25em;
}
#tbl_moves td {
  border: 1px solid;
  padding: 0.25em;
  text-align: center;
}

.pill-filter {
  border: 2px solid green;
  padding: 0.125em;
  display: inline-block;
  margin-left: 0.25em;
  border-radius: 0.25em;
  font-size: 0.8em;
}

#det_api #tbl_filter td {
  padding: 0.5em 0;
}

#wrap_gameactions {
  position: sticky;
  top: 0;
  margin-top: -1em;
  background-color: white;
  padding-bottom: 0.5em;
  z-index: 3;
  border-bottom: 1px solid black;
}
html.dark #wrap_gameactions {
  border-bottom: 1px solid white;
  background-color: black;
}

#btnLoad.breathe {
  animation: breathe 0.5s ease-in-out 2;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
#continueLoader .loaderText {
  --continue-overlay:rgba(255,255,255,0.5);
}
html.dark #continueLoader .loaderText {
  --continue-overlay: rgba(0,0,0,0.5);
}
#continueLoader .loaderText {
  box-shadow: 0 0 4px 5px var(--continue-overlay);
  font-size: 1.5em;
  background-color: var(--continue-overlay);
}

/* Chrome, Safari, Edge, Opera */
.cellInput::-webkit-outer-spin-button,
.cellInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.cellInput[type=number] {
  -moz-appearance: textfield;
}

#pastingArea,
#fileInput {
  --border-color: black;
  --focus-color: rgba(29, 29, 99, 0.7);
}
html.dark #pastingArea,
html.dark #fileInput {
  --border-color: white;
  --focus-color: rgba(97, 113, 254, 0.917);
}
#pastingArea,
#fileInput {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid var(--border-color);
  border-radius: 0.5em;
  padding: 0.5em;
}
#pastingArea:focus,
#fileInput:focus {
  box-shadow: 0px 0px 0.2em 0.2em var(--focus-color);
}/*# sourceMappingURL=builder.css.map */